USE [QLSinhVien]
GO
/****** Object:  Table [dbo].[DiemMh]    Script Date: 12/9/2021 8:37:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemMh](
	[MaSV] [char](7) NOT NULL,
	[MaMh] [char](15) NOT NULL,
	[LanThi] [int] NOT NULL,
	[Diem] [float] NOT NULL,
	[HocKi] [char](10) NOT NULL,
	[DiemTong] [float] NOT NULL,
	[DiemRL] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 12/9/2021 8:37:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [char](15) NOT NULL,
	[TenKhoa] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 12/9/2021 8:37:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [char](10) NOT NULL,
	[TenLop] [nvarchar](15) NOT NULL,
	[MaKhoa] [char](15) NOT NULL,
 CONSTRAINT [PK__Lop__3B98D273EF954CB0] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 12/9/2021 8:37:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMh] [char](15) NOT NULL,
	[TenMh] [nvarchar](50) NOT NULL,
	[TinChi] [int] NOT NULL,
 CONSTRAINT [PK__MonHoc__2725DF398BF2B07B] PRIMARY KEY CLUSTERED 
(
	[MaMh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/9/2021 8:37:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [char](7) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[SDT] [char](20) NULL,
	[GioiTinh] [smallint] NOT NULL,
	[DiaChi] [nvarchar](150) NULL,
	[MaLop] [char](10) NULL,
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/9/2021 8:37:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[taikhoan] [char](30) NOT NULL,
	[matkhau] [char](30) NOT NULL,
	[vaitro] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiemMh]  WITH CHECK ADD  CONSTRAINT [FK__DiemMh__MaMh__3D5E1FD2] FOREIGN KEY([MaMh])
REFERENCES [dbo].[MonHoc] ([MaMh])
GO
ALTER TABLE [dbo].[DiemMh] CHECK CONSTRAINT [FK__DiemMh__MaMh__3D5E1FD2]
GO
ALTER TABLE [dbo].[DiemMh]  WITH CHECK ADD  CONSTRAINT [FK__DiemMh__MaSV__3C69FB99] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[DiemMh] CHECK CONSTRAINT [FK__DiemMh__MaSV__3C69FB99]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoa]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
ALTER TABLE [dbo].[DiemMh]  WITH CHECK ADD  CONSTRAINT [CK__DiemMh__Diem__3B75D760] CHECK  (([Diem]>=(0) AND [Diem]<=(10)))
GO
ALTER TABLE [dbo].[DiemMh] CHECK CONSTRAINT [CK__DiemMh__Diem__3B75D760]
GO
ALTER TABLE [dbo].[DiemMh]  WITH CHECK ADD  CONSTRAINT [CK__DiemMh__LanThi__3A81B327] CHECK  (([LanThi]>=(0) AND [LanThi]<=(3)))
GO
ALTER TABLE [dbo].[DiemMh] CHECK CONSTRAINT [CK__DiemMh__LanThi__3A81B327]
GO
